page-modal-pro {
    .backIcon{
        font-size: 240% !important;
        color:white;
    }
    .shareIcon{
        font-size:200% !important;
        color: white;
    }
    .title{
        text-align: center;
        margin-right: 10%;
    }
     
    [text-color="custom-color"] {
        color: white;
        font-family: 'insideApp';
        font-weight: bold;
        text-align: center;
    }

    .toolbar-background {
        background:  #463D68 !important;
        border-bottom: 0 !important;
    }
    .proImg{
        width:50%;
        height:15%;   
    }
    .proSlides{
        height:45% !important;
    }
    .button.button{     
        display: inline;
        color:#463D68 !important;
        border-color: black !important;
        background: transparent !important;
        position: relative;
    }
    
    .span{
        color:#666;
        font-weight: bold;
    }
    .icons{
        color:#463D68 !important;    
        width:25px !important;
        height:25px !important;
    }
    .inline{
        margin-left:20% !important;
        display: inline-block !important;
    }
    .swiper-pagination-bullet-active{
        background: color($colors, secondary) !important;
        opacity: 1;
      }
    .button.coupon{
            text-align: center;
            display: block;
            margin-top:15%;
            margin-right: auto;
            margin-left: auto;
            color:white !important;
            border-radius: 0.5 !important;
            background-color: #463D68 !important;
    }
}
