page-wishlist {

    .intro{
        color: black !important;
        font-size: 100% !important;
        font-weight: bold;
    }
    .button{
        text-align: center;
        display: block;
        margin-top:15%;
        margin-right: auto;
        margin-left: auto;
        color:white !important;
        border-radius: 0.5 !important;
        background-color: #463D68 !important;
    }
    [text-color="custom-color"] {
        color: white;
        font-family: 'insideApp';
        font-weight: bold;
        text-align: center;
    }
    .heart{
        display: block;
        padding-top:20%;
        margin-left: auto;
        margin-right: auto;
        width:50%;
        height:50%;
        
    }

}
